body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
  align-items: center;
  margin: 5px;
  width: 50rem;
}

.customerauth-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.page-numbers-list {
  display: flex;
  justify-content: center;
}

.page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
